<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paradoxo de Monty Hall
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">

    <ion-item>
      <ion-card>
        <img alt="porta1" src="../../assets/idupull3oyua1 (1).webp" />
        <ion-card-header>
          <ion-card-title>Porta 1</ion-card-title>
          <ion-card-subtitle>     prêmio ou cabra?</ion-card-subtitle>
          <ion-button (click)="">  abrir</ion-button>
        </ion-card-header>
      
        <ion-card-content>
         
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="porta2" src="../../assets/idupull3oyua1 (1).webp" />
        <ion-card-header>
          <ion-card-title> Porta 2</ion-card-title>
          <ion-card-subtitle>prêmio ou cabra?</ion-card-subtitle>
          <ion-button (click)="">  abrir</ion-button>
        </ion-card-header>
      
        <ion-card-content>
       
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="porta3" src="../../assets/idupull3oyua1 (1).webp" />
        <ion-card-header>
          <ion-card-title>Porta 3</ion-card-title>
          <ion-card-subtitle>prêmio ou cabra?</ion-card-subtitle>
          <ion-button (click)="">  abrir</ion-button>
        </ion-card-header>
      
        <ion-card-content>
         
          
        </ion-card-content>
      </ion-card>

   
    </ion-item>

  </div>
</ion-content>
